.activate_bank_contact_section {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px; 
}

.activate_bank_what_taital {
    margin-bottom: 20px;
    font-size: 28px;
    color: #34495e;
    font-weight: bold;
}

.activate_bank_container-fluid {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 4px 15px #5e768e;
    border-radius: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #1d4369;
}

.activate_bank_input-container {
    margin: 10px 0;
}

.activate_bank_upi_id-label {
    font-size: 16px;
    color: #34495e;
}

.activate_bank_mail_text_1 {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #1d4369;
    border-radius: 5px;
}

.activate_bank_pin-container {
    position: relative;
}

.activate_bank_toggle-pin-visibility {
    position: absolute;
    right: 10px;
    top: 21px;
    background: none;
    border: none;
    cursor: pointer;
}

.activate_bank_send_bt {
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.activate_bank_message_class {
    margin-top: 20px;
}



/* Success message in green */
.activate_bank_message.success {
    color: green;
}

/* Error message in red */
.activate_bank_message.error {
    color: red;
}
.upi_error {
    color: red;
    text-align: left;
}